<!DOCTYPE html>
<html>
<head>
   <title>TodoApp</title>
   <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
   <h2>Todo Application</h2>
   <table class="table">
      <thead>
         <tr>
            <td>Task</td>
            <td>Status</td>
            <td>Actions</td>
         </tr>
         <tr>
            <td><input type="text" class="form-control task-title"></td>
            <td><input type="text" class="form-control task-status"></td>
            <td><button class="btn btn-primary add-task">Add</button></td>
         </tr>
      </thead>
      <tbody class="tasks-list"></tbody>
   </table>
</div>
   <script type="text/template" class="task-list-template">
      <td><span class="title"><%= title %></span></td>
      <td><span class="status"><%= status %></span></td>
      <td><button class="btn btn-warning edit-task">Edit</button>
         <button class="btn btn-danger delete-task">Delete</button>
         <button class="btn btn-success update-task" style="display: none;">Update</button>
         <button class="btn btn-danger cancel-task" style="display: none;">Cancel</button>
      </td>
   </script>
   <script src="../node_modules/jquery/dist/jquery.min.js"></script>
   <script src="../node_modules/underscore/underscore-min.js"></script>
   <script src="../node_modules/backbone/backbone-min.js"></script>
   <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="app.js"></script>
</body>
</html>